
<div my-dragabledialog id="myModal" class="table-responsive" style="width:100%">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$close()" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Edit User</h3>
        </div>
        <div class="modal-body" my-bodydialog>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok('ok',entity)">OK</button>
            <button class="btn btn-primary" ng-click="$close()">Cancel</button>
        </div>
    </div>
</div>