
@{
    ViewBag.Title = "Test";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script>
    NgJs.using("Test.callTest");
    debugger
    NgJs.Test.callTest.call11();
    
</script>
<h2>Test</h2>

