
@{
    ViewBag.Title = "UserManage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .modal .modal-dialog {
        width: 70%;
    }
</style>
<div ng-controller="MainPageCtrl">
    <table>
        <tr>
            <td>
                <input type="button" ng-click="newRow()" value="Add Rights" style="display:none">
                <div ui-grid="ngGridUser" ui-grid-pagination class="grid" style="width: 800px"></div>
            </td>
        </tr>
    </table>
</div>

<script>
    app = angular.module('ngMasterAg', ['ngAnimate', 'ui.bootstrap', 'toastr', 'chieffancypants.loadingBar', 'ngTouch', 'ui.grid', 'ui.grid.pagination', 'ui.grid.selection']);
    app.controller('MainPageCtrl', function ($scope, $modal, $timeout, $http, toastr, toastrConfig, cfpLoadingBar, uiGridConstants) {
        NgJs.Control.grid({
            gridId: "ngGridUser",
            url: "WebBaseMVC.Areas.Admin.Models.Bus.UserManage.GetListUserAll",
            myCtrlArg: arguments,
            params: [{}],
            columnDefs: [                  
                  { name: 'user_id' },
                  { name: 'email'},
                  { name: 'user_desc' },
                  { name: 'upd_date' },
                  { name: 'last_login'}
            ]
        });
    });

    
</script>