
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .modal .modal-dialog {
        width: 70%;
    }
</style>

<div ng-controller="MainPageCtrl">
    <table>
        <tr>
            <td>
                <input type="button" ng-click="newRow()" value="Add Rights" style="display:none">
                <div ui-grid="ngGridUser" ui-grid-pagination class="grid" style="width: 800px">
            </td>
        </tr>
    </table>
</div>

<script>
    app = angular.module('ngMasterAg', ['ngAnimate', 'ui.bootstrap', 'toastr', 'chieffancypants.loadingBar', 'ngTouch', 'ui.grid', 'ui.grid.pagination', 'ui.grid.selection']);
    app.controller('MainPageCtrl', function ($scope, $modal, $timeout, $http, toastr, toastrConfig, cfpLoadingBar, uiGridConstants) {
        var optionsGrid = {
            gridId: "ngGridUser",
            url: "Apps.Manage.Base.Users.GetUsers",
            params: [{}],            
            columnDefs: [
                  {
                      name: 'h1',
                      displayName: '',
                      cellTemplate: 'Apps/Manage/Base/templateControl/editButton.html',
                      width: 60
                  },
                  { name: 'menu_id', headerCellTemplate: "menu_id" },
                  { name: 'menu_nm', headerCellTemplate: "menu_nm" },
                  { name: 'menu_nm_eng', headerCellTemplate: "menu_nm_eng" },
                  { name: 'up_menu_id', headerCellTemplate: "up_menu_id" },
                  { name: 'link', headerCellTemplate: "link" }
            ]
        }
        debugger
        NgJs.Control.grid(optionsGrid);
    });
</script>